<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>ドミニオンセレクタ</title>
    <meta name="description" content="ドミニオン(dominion)のサプライセレクタ(ランダマイザー)や、公式推奨サプライの一覧を掲載しています。" />
    <meta name="keywords" content="ドミニオン,dominion,サプライ,ランダマイザー,セレクタ" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    @Styles.Render("~/bundles/mystyle")
    <link rel="shortcut icon" href="~/Content/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="~/Content/favicon.ico">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1 style="margin: 0px;">@Html.ActionLink("ドミニオンセレクタ", "", "", new { area = "" }, new { @class = "navbar-brand" })</h1>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("ランダマイザー", "")</li>
                    <li>@Html.ActionLink("公式推奨サプライ", "Recommend", "Home")</li>
                    <li>@Html.ActionLink("veto版(工事中)", "Veto", "Home")</li>
                    <li>@Html.ActionLink("このサイトについて(工事中)", "Index", "Other")</li>
                    <li>@Html.ActionLink("連絡先(工事中)", "Contact", "Other")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderSection("main")
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - I-NO's Dominion Selector</p>
            <p>連絡先：<a href="https://twitter.com/IN0_dom" target="_blank">Twitter(@@IN0_dom)</a></p>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    @RenderSection("footerJS", false)
</body>
</html>